h1, h2 {

    font-size: larger;
    font-family:'Courier New', Courier, monospace
}

#ejemploid{
    font-style: normal;
    background-color: #883344;
    text-align: center;
    float: none;
    height: 200px;

}
p {
    font-size: 1.5em;
    font-style: oblique;   
    color: #888888;
}

.selector{
    color: cadetblue;

}

.destaca{
    font-style: normal;
    font-weight: bolder;
    color: darkviolet;
}