h1, h2 {

    font-size: larger;
    font-family:'Courier New', Courier, monospace
}

div:nth-child(even){
    background-color: azure;
}
div:nth-child(odd){
    background-color: lavenderblush;
}
p {
    font-size: 1.5em;
    font-style: oblique;   
    color: #888888;
}

