body{
    margin:15px
}

#div1 {
    float: left;
    text-align: left;
    background-color: grey;
    border-style: dotted;
    width: 20%;
    height: 100px;
    
}
#div2{
    float: right;   
    text-align: right;
    background-color: grey;
    border-style: dotted;
    width: 20%;
    height: 100px;
}
#div3{
    
    text-align: right;
    position: relative;
    top: 240px;
    
}
#pie-documento{
    width: 100%;
    background-color: grey;
    position: fixed;
    bottom: 0px;
    text-align: center;
    padding: 25px;
    left: 0px;
}